#!/usr/bin/perl
# -*- cperl -*-

%OpenILS::Migrate::To::Pg::pgconnectinfo = ( dbname   => "migrationtest",
                                             host     => "localhost",
                                             user     => "testuser",
                                             pass     => "testpassword",
                                           );
$ENV{SYBASE} = "/usr";
%OpenILS::Migrate::From::Polaris::DB::connectinfo = ( sbserver => "SYBASE",
                                                      user     => "plsdbusername",
                                                      pass     => "plsdbpassword",
                                                    );
